@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    overflow-x: hidden;
}

body {
    margin: auto;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    min-width: 320px;
    min-height: 100vh;

    background-image: url('/martin-martz-wRuhOOaG-Z4-unsplash.jpg');
    background-size: cover;
}

body.light {
    background-image: url('/light-bg.jpg');
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 40rem #ffff00 inset;
}

